div {
    width: 185px;
    height: 200px;
    background: url(tie.png);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -92px;
    margin-top: -100px;
    /*-webkit-animation: spin 1s ease infinite;
       -moz-animation: spin 1s ease infinite;
            animation: spin 1s ease infinite;
    */
}

/* Animatie (in drievoud) */
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}